.diamond-button:before {
    color: #CD3237;
    float:left;
    cursor: pointer;
    background:inherit;
    font-family:'Bungee Outline', cursive;
    margin-right:0 auto;
    margin-left:0 auto;
    margin:17px;
    font-size: 200px;
    display:inline block;
    box-shadow: 5px 10px;

  }
  .diamond-button:hover 
   {background-color: #5BD7D3;}

  .diamond-button:active {
    background-color: #5BD7D3;
    box-shadow: 0 ;
    transform: translateY(8px);
  }


  
  .diamond-button1:before{
    content: "A";
    box-shadow: 5px 10px

  }
  .diamond-button2:before {
      content:"B";
 
  }

  .diamond-button3:before {
    content:"C"
}
.diamond-button4:before {
    content:"D"
}
.diamond-button5:before {
    content:"E"
}
.diamond-button6:before {
    content:"F"
}
.diamond-button7:before {
    content:"G"
}


  h1 {margin: 0 auto;
    font-family: 'Vidaloka', serif;
    text-align:center;
    color:white}

  #box {    margin:0 auto;
    text-align: center;
    color: #CD3237;
    font-family:'Vidaloka', serif;
    font-weight:bold;

   
    }

#score {margin:0 auto;
        text-align:center;
        font-size:36px;
        color:white;
        font-family:'Bungee Outline', cursive;}

.diamond-button1 { margin-left:25px}




body 
{   background-color: #32cdc8;
    background-ima ge:url("http://www.dpdworkshop.com/images/b4_kaunas-main-theater-rendering2.gif")}